<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Socket服务.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF3640381CC1CB9400000BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF3640511CC1CB9600000BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF36405C1CC1CB9600000BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
